speedyport=[Port to listen on]
bind_ip=[IP to bind to]
HEARTBEAT_PATH=[URL for Speedybot to declare status]
BOT_TOKEN=[APP TOKEN]
guild_id=[GUILD ID]
client_id=[CLIENT ID]
enable_xmas=[true or false]
xmas_address="An address to send holiday cards to"
