heart_type=[set to either 'push' or 'socket']
MONITOR_URL=[URL for Yeti to indicate it is alive]
BOT_TOKEN=[APP TOKEN]
guild_id=[GUILD ID]
client_id=[CLIENT ID]
enable_xmas=[true or false]
xmas_address="An address to send holiday cards to"
